footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 0 10%;
	display: block;
}
footer #socials a{
 margin-right: 10%;
 padding: 5px 0;
 color: #BEB1DA;
 font-size: 25px;
}
footer .col{
  
  
  width: 50%;
}
footer #heart{
	color: #BEB1DA;

	
}
footer #copyright{
	padding: 7px;
	text-align: right;
	color: #BEB1DA;
}
.fa-linkedin-in{
	font-family:"Arial";
}

@media only screen and (max-width: 650px){

	footer{
	padding: 0 5%;
}
footer #socials a{
	font-size: 15px;
}
}
@media only screen and (max-width: 600px){
	footer .col{
		width: 100% !important;
		float: none !important;
		display: block !important;
		

	}
	footer #socials{
		
		display: table;
		text-align: center;
	}
	footer #socials a{
		margin: 0 10% 0 10%;
		font-size: 20px;
	}
	footer #copyright{
		text-align: center;
	}

}