


td,th{
	border: 2px solid #E6E0E8;
	padding: 5px 7px;
}
table{
	border-collapse: collapse;
	font-family: sans-serif;
	margin: auto;
}
th{
	background-color: #B490BF;
	color: white;
	font-weight: 400;
	letter-spacing: 0.04em;

}
td{
	font-weight: 200;
}

td a:link{
	color: #9FDEEB;
}
td a:visited{
	color: #8C9DBE;
}
td a:hover{
	font-weight: 300;
	text-decoration: none;
	color: #9E8CBE;
}
td a:active{
	color: #A2EDF5;
	font-weight: 400;
}
