@keyframes fadein{
	from{
		opacity: 0;}
	to{
		opacity: 1;
	}
}

@keyframes jumping{
	0%{
		top:0.1em;
	}
	20%{
		top:0.2em;
	}
	40%{
		top:0.3em;
	}
	60%{
		top:0.2em;
	}
	80%{
		top:0.1em;
	}100%{
		top:0em;
	}
}