nav{
	width: 100%;
	background-color: #FCFAFF;
	float: left;
	padding: 0 10%;
	z-index: 99;
	display: block;
	position: relative;


}


nav #logo{
	width: 10%;
	font-family: 'Ribeye Marrow','Garamond';
	display: inline-block;
	
	color: #6636CB;

}
nav div{
	float: left;
	padding: 10px 0;
}
nav:after{
	display: table;
	clear: both;
	content: '';
	float: none;
	
}
nav #menu{
	text-align: center;
	width:80%;
	margin: auto;
	padding: 0;
}
nav #menu a,nav #menu a:link,nav #menu a:visited{
	display: inline-block;
	z-index: 100;
	padding: 10px 6%;
	letter-spacing: 4px;
	color: #8261C9;
	
}
nav #menu a:hover{

    color:#9B99E3;
    cursor: pointer;
}
nav a.current{
	text-decoration: line-through;
	color: #9B99E3 !important;
}
nav #contact{
	float: right;
}
#mail{
	
	
	text-align: right;
	margin-right: 0;
}
@media only screen and (max-width: 650px){

	nav{
	padding: 0 5%;
}

}
@media only screen and (max-width: 500px)
{
	nav{
	font-size: 12px;
	}
	nav #menu a,nav #menu a:link,nav #menu a:visited{
	
	padding: 10px 4%;
	letter-spacing: 2px;
	}
	
}
@media only screen and (max-width: 300px){


	nav{
	font-size: 10px;
	}
	nav #menu a,nav #menu a:link,nav #menu a:visited{
	
	padding: 10px 2%;
	letter-spacing: 0px;
	}
	nav#logo
	{
		width: 15%;
	}

	nav #menu{
		width: 70%;
	}



}




