nav{
	width: 100%;
	background-color: #FCFAFF;
	float: left;
	padding: 0 10%;
	z-index: 99;
	display: flex;
	position: fixed;
 align-items: center;
 align-content: center;
 font-family: sans-serif;
 transition-duration: 0.3s;

}


nav #logo{
	width: 10%;
	font-family: 'Ribeye Marrow','Garamond';
	display: inline-block;
	
	color: #6636CB;

}
nav div{
	float: left;
	padding: 10px 0;
}
nav:after{
	display: table;
	clear: both;
	content: '';
	float: none;
	
}


nav #menu{
	text-align: center;
	width:80%;
	margin: auto;
	padding: 0;

}


nav #menu a,nav #menu a:link,nav #menu a:visited{
	display: inline-block;
	z-index: 100;
	padding: 9px 6%;
	letter-spacing: 0.1em;
	color:rgb(84, 72, 85);
	font-weight: lighter;

	
}
nav.enlarged #menu a,nav.enlarged #menu a:link,nav.enlarged #menu a:visited{
	padding: 18px 6%;
	color: #8261C9;
	font-weight: normal;
	

}
nav.enlarged{
	font-size: 1.1em;
	
}

nav #menu a:hover{

    color:#9B99E3;
    cursor: pointer;
}
a.nav-item.current{
	text-decoration: line-through;
	color: #9B99E3 !important;
}
nav #contact{
	float: right;
}
#mail{
	
	
	text-align: right;
	margin-right: 0;
}
@media only screen and (max-width: 650px){

	nav{
	padding: 0 5%;
}

}
@media only screen and (max-width: 500px)
{
	nav{
	font-size: 12px;
	}
	nav #menu a,nav #menu a:link,nav #menu a:visited{
	
	padding: 10px 4%;
	letter-spacing: 2px;
	}
	
}
@media only screen and (max-width: 300px){


	nav{
	font-size: 10px;
	}
	nav #menu a,nav #menu a:link,nav #menu a:visited{
	
	padding: 10px 2%;
	letter-spacing: 0px;
	}
	nav#logo
	{
		width: 15%;
	}

	nav #menu{
		width: 70%;
	}



}




