
@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@100&family=Roboto+Slab&display=swap');
@import "myanimation.css";

* {
box-sizing: border-box;
padding: 0;
margin: 0;
/*border: 1px solid;*/
}
html{
	min-height: 100%;
	height: 100%;
	
}
body{
padding: 0;
margin: 0;
min-height: 100%;
height: 100%;
background-color: white;

}

.container{
	position: relative;
	background-color: white;
	background: url('purplehalo.png') no-repeat 105% 2px,url("yellowhalo.png") no-repeat 0 70%,linear-gradient(175.73deg, #F6F6FB 32.64%, #FDFEFF 43.47%, #F3EFFF 79.72%, #EEF3FF 90.97%);
	background-size:auto,50%;
	
	position: relative;
	border-bottom: 2px solid #EAC43E;
	margin-top: 0;
	display: block;
	min-height: 100%;
	height: 100%;
	width: 100%;
	font-family: "Roboto Slab",sans-serif;
	margin: 0 auto;
	max-width: 1500px;
	
	
}



.yellow{
	color: #EAC43E;
	display: inline;
}




a{
	text-decoration: none;
}



#intro{
	
	width: 100%
}


#intro p#des{
	
	position:relative;
	top: -25px;
	font-size: 30px;
	font-family: "Roboto Mono",monospace;
}

p.hello{
	font-size: 40px;
	letter-spacing: 15px;
	line-height: 200%;
	margin: 6% 0;

}


.vcenter{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
#content{
	display: block;
	width: 100%;
	
	padding: 10% 10%;
	text-align: center;
	animation: fadein 1s ease-in;
	z-index: 0;
	

	
}
span.purple{
	color: #6636CB;
	

}

.name .bsp{
	display: inline;
}
span.blue{
    
	color: #363CCB;
	

}

#content a#works{
	color: rgba(251, 244, 219, 0.91);
	display: table;
	text-align: center;
	margin: 0 auto;
	padding: 22px 35px;
	font-family: "Roboto";
	letter-spacing: 0.03em;
	font-size: 30px;
	box-shadow: 2px 1px 4px #E2D6C3;
	border-radius: 40px;
	background: linear-gradient(113.62deg, #809CFF 24.09%, rgba(100, 99, 241, 0.785063) 39.3%, rgba(100, 98, 241, 0.75) 40.8%, rgba(79, 52, 248, 0.572917) 55.15%, rgba(138, 52, 248, 0.572917) 64.36%);
}
#content a#works:hover{
	background: none;
	background-color: #A985F7;
	box-shadow: 3px 2px 10px #C3CEE2;


}

span.name{

	letter-spacing: 30px;
	font-size: 70px;
}

.row .col{
	display: inline-block;
	float: left;
}

.row:after{
	display: table;
	clear: both;
	content:'';
}

@media only screen and (max-width: 970px){
	span.name{
		letter-spacing: 20px;
		font-size: 65px;
	}
	.name .bsp{
		display: none;
		content: "";


	}
}

@media only screen and (max-width: 550px){

}
@media only screen and (max-width: 400px){
	p.hello{
		letter-spacing: 5px;
		font-size: 20px;
	}
	span.name{
		letter-spacing: 10px;
		font-size: 35px;
	}
	
	#intro p#des{
		font-size: 15px;
	}
	#content a#works{
		font-size: 20px;
		padding: 5px 10px;
	}
}
@media only screen and (max-height: 600px)
{
p.hello{
	line-height: 150%;
	font-size: 30px;
	display: block;


}
span.name{
	font-size: 50px;
}
#content a#works{
	padding: 10px 15px;
	font-size: 25px;
	margin-top: 12px;
}
#intro p#des{

	font-size: 20px;
	top: 0;

}
}
@media only screen and (max-height: 465px)
{


 body{

 	background: url('purplehalo.png') no-repeat 105% 2px,url("yellowhalo.png") no-repeat 0 70%,linear-gradient(175.73deg, #F6F6FB 32.64%, #FDFEFF 43.47%, #F3EFFF 79.72%, #EEF3FF 90.97%);
	background-size:auto,50%;
 }
 html,body{
 	height: auto;
 }
	footer{
		position: relative;
	}
	.vcenter{
		position: relative;
		top: 0;
  left: 0;
  -ms-transform: none;
  transform: none;
	}
	.container{
		border: none;
		background: none;
	}

}
