
@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@100&family=Roboto+Slab&display=swap');
@import "myanimation.css";

* {
box-sizing: border-box;
padding: 0;
margin: 0;
border: 0 solid transparent;
-webkit-overflow-scrolling: touch;
}
:root{
	--skyblue: rgba(203, 243, 248, 0.7);
	--lightpink: rgba(251, 250, 255,0.7);
	--themepurple: rgba(104, 67, 184, 0.8);
}
html{
	min-height: 100%;
	height: 100%;
	scroll-behavior: smooth;
}
body{
padding: 0;
margin: 0;
min-height: 100%;
height: 100%;
background-color: white;

}
section{
	padding-top: 30px;
	
}
#des .Typewriter__cursor{
	color:rgba(100, 98, 241, 0);
	font-weight: 900;
	display: inline-table;
	background-color: rgba(215, 214, 243, 0.5);
	padding: 0;
	content: " ";
	width: 0.05em;
	white-space: nowrap;
	overflow: hidden;
	font-weight: 0;
	
}
.container{
	position: relative;
	background-color: white;
	
	
	
	margin-top: 0;
	display: block;
	
	width: 100%;
	font-family: sans-serif;
	margin: 0 auto;
	
	
	
}
#work{
	background-color: #F8F9FF;
}
#hero{
	/*background: url('purplehalo.png') no-repeat 105% 2px,url("bluehalo.png") no-repeat 0 70%,url(planet.png) no-repeat 96% 60%,linear-gradient(175.73deg, #F6F6FB 32.64%, #FDFEFF 43.47%, #F3EFFF 79.72%, #EEF3FF 90.97%);
	background-size:auto,35%,40%;
	*/
	background: url('gradientbg.png');
	min-height: 100%;
	height: 100%;
	max-height: 100%;
	animation: planet 1.5s ease-out 1;
	background-size: cover;
	
	background-attachment: fixed;
	background-position:100% 100%;
	background-repeat:no-repeat no-repeat;
	
}
@keyframes planet{
	from{
		background-position-x: initial,initial,160%;
		background-size:auto,15%,35%;
		opacity: 0.2;
	}
	to{
		background-size:auto,35%,40%;
		background-position-x:initial,initial,60%;
		opacity: 1;
	}
}

#work #wavy{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: block;
	max-height: 100%;
	width: 100%;
	z-index: 0;
	
}

section h2{
	text-align: center;
	position: relative;
	z-index: 98;
	
	font-size: 3vw;
	margin: 2em auto 1em auto;
	font-weight:200;
	font-family:'Lato', sans-serif;
	color:#655c79;
	display: table;
	text-transform:uppercase;
	border-bottom: 10px solid rgba(100, 98, 241, 0.25);
}
.yellow{
	/*color: #EAC43E;*/
	color:#0FC3EB;;
	display: inline;
}


nav.enlarged .yellow{
	color:var(--skyblue);
}

a{
	text-decoration: none;
}



#intro{
	
	width: 100%;
	transform: translateY(3em);;
	animation: slidein 1s ease-in 1, fadein 2.5s ease-in-out 1;
	position: relative;
	
	
}

@keyframes slidein {
	from{
		transform: translateY(5em);
		
	}
	to{
		transform: translateY(3em);
		
	}
}
#intro p#des{
	
	position:relative;
	top: -2vh;
	font-size: 3vw;
	font-family: "Roboto Mono",monospace;
	color:rgba(251, 250, 255,0.6);
	min-height:10vw;
	text-align: center;
	margin-top: 4rem;
	display: block;
	
	
}
#intro p#des .highlight{
	color: var(--skyblue);
	display: inline-block;
	
	
	font-weight: 600;
	
	
	
}


p.hello{
	font-size: 6vw;
	letter-spacing: 0.3em;
	line-height:0;
	margin: 6% 0;
	text-align: center;

}
span.name{
    
	letter-spacing: 0.3em;
	font-size:1.2em;
	font-weight: 700;
}


.vcenter{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#hero .vcenter{
	/*
	top: 73%;
	height: 92vh;
	-ms-transform: translate(-50%, -57%);
  transform: translate(-50%, -57%);
  */
  display: flex;
  align-items: center;
  position: relative;
  top:auto;
  left: auto;
  height: 92%;
  -ms-transform: none;
  transform: none;
  top: 4vh;
  
}
#content{
	display: block;
	width: 100%;
	
	padding: 10% 10%;
	text-align: center;
	animation: fadein 1s ease-in;
	z-index: 0;
	

	
}
.wrapper{
	width:80%;
	display:block;
	margin: 0 auto;
	margin-top: 35px;
}
span.purple{
	/*color: #6636CB;*/
	color:var(--lightpink);

}

.name .bsp{
	display: inline;
}
span.blue{
    
	/*color: #363CCB;*/
	color:var(--lightpink);

}
#work{
	margin-top: 0!important;
	border-top:1px solid #EEF3FF;
}

#viewworks{
	position: absolute;
	bottom: 8vh;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
a#mouse{
	
	display: block;
	color:var(--skyblue);
	position: relative;
	opacity: 0.6;
	
	
}
body > footer{
	
  background: linear-gradient(132.6deg, rgba(108, 115, 187, 0.8) 11.68%, rgba(104, 67, 184, 0.8) 80.08%);
}
body > footer #socials a{
	color: var(--lightpink);
}
body > footer #socials a:hover{
	color:white;
}
body > footer #copyright{
	color: var(--lightpink);
}
a#mouse span{
display: table;

margin: 0 auto;
position: relative;
animation-name: jumping;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
font-size: 2em;
font-weight: lighter;
cursor: pointer;
}
#content a#works{
	color: rgba(251, 244, 219, 0.91);
	display: table;
	text-align: center;
	margin: 0 auto;
	padding: 0.5em 0.7em;
	font-family: "Roboto";
	letter-spacing: 0.03em;
	font-size: 3vw;
	box-shadow: 2px 1px 4px #E2D6C3;
	border-radius: 40px;
	background: linear-gradient(113.62deg, #809CFF 24.09%, rgba(100, 99, 241, 0.785063) 39.3%, rgba(100, 98, 241, 0.75) 40.8%, rgba(79, 52, 248, 0.572917) 55.15%, rgba(138, 52, 248, 0.572917) 64.36%);
}
#content a#works:hover{
	background: none;
	background-color: #A985F7;
	box-shadow: 3px 2px 10px #C3CEE2;


}


.row .col{
	display: inline-block;
	float: left;
}

.row:after{
	display: table;
	clear: both;
	content:'';
}
.row .col{
	display: inline-block;
	float: left;
}

.row:after{
	display: table;
	clear: both;
	content:'';
}


.project.hide{
	top:5em;
	opacity: 0;
}


.project{
	margin-bottom: 0px;
	/*
	box-shadow: 2px 4px 14px 3px #E6E9F5;
	*/
	padding: 0 25px 0 0;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background-color: transparent;
	font-family: sans-serif;
	top:0;
	opacity: 1;
	/*
	border-bottom: 12px dotted rgb(239, 239, 255);
	border-image: 16 repeating-linear-gradient(-45deg, rgb(239, 239, 255) 0, rgb(239, 239, 255) 3em, transparent 0, transparent 2em,
	rgb(239, 239, 255) 0, rgb(239, 239, 255) 3em, transparent 0, transparent 4em);
	*/
	transition-duration: 0.6s;
	transition-timing-function: ease-in-out;
	height: 65vh;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.project:last-of-type{
	border:none;
	
}
.project h3{
	margin-bottom: 1.5em;
	color:var(--themepurple);
	letter-spacing: 0.1em;
}
.row .col{
	display: inline-block;
	float: left;
	width: 50%;
	
}
.project .left{

position: relative;

display: flex;
overflow: hidden;

}

.cover .vcenter{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-150%, -50%);
  transform: translate(-150%, -50%);

}

.cover .details{
	margin-bottom: 15px;
}
.cover a.url{
	background-color: #FCA243;
	color: white;
}
.cover a.url:after{
	font-family: 'Font Awesome\ 5 Free';
	display: inline-table;
	content: "\f35d";
	color: white;
	font-weight: 900;

}
.cover a.details{
	background-color: #9E43FC;
	color: white;
}

.cover a:hover{
	border:2px solid ;
	transition-duration: 0.2s;
}

.col h2{
	display: table;
	float: none;
	margin-bottom: 10px;
	color: #9B99E3;
}
img.mockup{
	width: 100%;
	padding: 25px;
}
.row:after{
	display: table;
	clear: both;
	content:'';
}
.project .cover{
	position: absolute;
	top: 100%;
	text-align: center;
	opacity: 0.2;
	background-color: rgba(10,1,100,0.4);


	width: 100%;
	height: 100%;
}

.project .links{
	clear: both;
	display: table;
	float: none;
	line-height: 100%;
	border: 1px dashed;
	
}
.project .links a{
	width: auto;
	float: left;
	display: inline-table;
	border:  1px solid;
	margin-right: 2px;
}

.project .description a.details{

	color: #9E43FC;
	padding: 5px;
	display: table;
	margin-top: 4px;
	text-decoration: underline;
	position: relative;
	left: 0;

}
.project .description a.details:hover{

  
  
  opacity: 0.4;
  left: 4px;
  transition-duration: 0.3s;
}
.project .description a.details:after{
	content: "-->";
}

.project .left:hover .cover{
  
  opacity: 0.95;
  top: 0%;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
}
.cover a{
	display: table;
	
	width: 300%;
	padding: 15px 0;
	font-size: 20px;
	border-radius: 5%;
}

#work footer
{
	position: relative;
	text-align: center;
	display: block;
	width: 100%;
	letter-spacing: 2px;
	margin-top: 5px;
	color: #8261C9;   
}
.project .description
{
	padding: 25px 5%;


}
@media only screen and (max-width: 970px){
	/*
	span.name{
		letter-spacing: 20px;
		font-size: 65px;
	}
	*/
	.name .bsp{
		display: none;
		content: "";


	}
}

@media only screen and (max-width: 550px){

}
@media only screen and (max-width: 400px){
	p.hello{
		letter-spacing: 5px;
		font-size: 20px;
		
		margin-bottom: 10px;
		display: table;
	}
	span.name{
		letter-spacing: 0.2em;
		font-size: 10vw;
	}
	
	#intro p#des{
		font-size: 15px;
		top:0;
	}
	#content a#works{
		font-size: 20px;
		padding: 5px 10px;
	}
}
@media only screen and (max-height: 600px)
{
p.hello{
	line-height: 150%;
	font-size: 30px;
	display: block;


}
span.name{
	font-size: 50px;
}
#content a#works{
	padding: 10px 15px;
	font-size: 25px;
	margin-top: 12px;
}
#intro p#des{

	font-size: 20px;
	top: 0;

}
}
@media only screen and (max-height: 465px)
{


 body{

 	background: url('purplehalo.png') no-repeat 105% 2px,url("yellowhalo.png") no-repeat 0 70%,linear-gradient(175.73deg, #F6F6FB 32.64%, #FDFEFF 43.47%, #F3EFFF 79.72%, #EEF3FF 90.97%);
	background-size:auto,50%;
 }
 html,body{
 	height: auto;
 }
	footer{
		position: relative;
	}
	.vcenter{
		position: relative;
		top: 0;
  left: 0;
  -ms-transform: none;
  transform: none;
	}
	.container{
		border: none;
		background: none;
	}

}
@media only screen and (max-width: 1000px)
{
.cover a{
	
	background-color: yellow;
	width: 150%;
	padding: 10px 0;
}
.cover .vcenter{
  
  -ms-transform: translate(-75%, -50%);
  transform: translate(-75%, -50%);

}
}
@media only screen and (max-width: 720px)
{
.cover a{
	
	background-color: pink;
	width: auto;
	padding: 5px;
	width: auto;
	font-size: 10px;
	margin: auto;
}
.cover .vcenter{
  
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


}
.description h2{
	display: table;
	float: none;
	font-size: 15px;
}
}
@media only screen and (max-width: 650px)
{
.wrapper{
	width: 90%;
}
.cover a{
	
	background-color: blue;
	width: auto;
	padding: 5px;
	width: auto;
	font-size: 10px;
	margin: auto;
}
.cover .vcenter{
  
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


}
p.hello{
	font-size: 7vw;
	letter-spacing: 0.1em;
	line-height:0;
	margin: 6% 0;
	text-align: center;

}
.description h2{
	display: table;
	float: none;
	font-size: 15px;
}
.description p{
	font-size: 12px;
}
.project .col
{
	float: none;
	display: block;
	
	width: 100%;
}
.project{
	flex-direction: column;
	height: auto;
}
.project h3{
	margin-bottom: auto;
}
.description{
	text-align: center;
}
.description h2{
	display: block;
	margin: auto;
}
.project .description a.details{
	margin: 4px auto;
}

}
@media only screen and (max-width: 550px)
{
.cover a{
	
	background-color: purple;
	width: auto;
	padding: 5px;
	width: auto;
	font-size: 10px;
	margin: auto;
}
.description p{
	font-size: 12px;
}
}
@media only screen and (max-width: 520px)
{
	#hero{
	
background-attachment: scroll;
background-image:url("bgsmall.png");
	}
.cover a{
	
	background-color: green;
	width: auto;
	padding: 15px 30px;
	width: auto;
	font-size: 16px;
	margin: auto;
	letter-spacing: 1px;
}
.project{
	padding: 0 1px 0 0;
}
.cover .details{
	margin-bottom: 20px;
}
.project .col
{
	float: none;
	display: block;
	width: 100%;
}
.description{
	text-align: center;
}
.description h2{
	display: block;
	margin: auto;
}
.project .description a.details{
	margin: 4px auto;
}
section h2{
	font-size: 7vw;
}

}
@media only screen and (max-width: 340px)

{
	
.cover a{
	
	background-color: red;
	width: auto;
	padding: 5px;
	width: auto;
	font-size: 12px;
	margin: auto;
}
	}
